@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@400;500;600;700');

a,
button,
input,
h2,
h3 {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-family: 'Righteous', cursive;
}

p {
  font-family: 'Roboto', sans-serif;
}
